@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

@keyframes loadInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

:root {
	--inputbg: #3c096c;
	--inputborder: #5a189a;
	--uibg: #240046;
	--textcolor: #fff;
	--bg: #10002b;
	--margin: 4rem;
}
.hiddenUpload {
	display: none;
	visibility: hidden;
}
* {
	transition-duration: 0.5s;
	outline: none;
	border: none;
	box-sizing: border-box;
	align-content: center;
	text-align: center;
	font-family: "Prompt", sans-serif;
	color: var(--textcolor);
}

        footer {
            margin-top: auto; /* Push footer to the bottom */
        }

body {
	margin: 0;
	padding: 0;
	background: var(--bg);
	color: var(--textcolor);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

topnav,
footer {
    background-color: var(--uibg);
    display: flex;
	border-bottom: none;
	font-weight:700;
    padding: 0.7rem;
    width: 100%;
    z-index: 1;
    justify-content: center;
    text-align: center; 
    text-decoration: none;
}

#time {
font-weight:100;
}
topnav {
    top: 0;
    border-radius: 0 0 20px 20px;
    position: fixed;
    box-shadow: 0 5px 10px var(--uibg);
}

footer {
    bottom: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -5px 10px var(--uibg);
}

footer a,
footer a:visited,
header a,
header a:visited {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
	text-decoration: none;
}

footer a:hover,
topnav a:hover {
    text-shadow: 2px 2px 6px var(--textcolor);
}


@media only screen and (max-width: 768px) {
    topnav,
    footer {
        flex-direction: column;
        align-items: center;
    }

    topnav {
        border-radius: 0;
    }

    footer {
        border-radius: 0;
    }
	* {
		--margin: 12rem;
	}
}

main {
	animation: 1.25s ease-in-out 0s 1 loadInAnimation;
	align-items: center;
	flex-direction: column;
	display: flex;
	min-height: calc(100vh - (2 * 0.7rem));
	gap: 0;
	flex-wrap: wrap;
	margin: auto;
	margin-top: var(--margin);
	width: 90%;
	height:auto;
}
main#main.noscroll {
	justify-content: center;
}
